{% include "header.jinja" %}

<body style="margin:50;padding:0">
    <div style="margin-top:50px;margin-left:20px;margin-right:20px;line-height:24px">
        <h1>Fussball Tippspiel 4 friends</h1>
        <p>Herzlich Willkommen zum Tippspiel 4 Friends. Bei dieser Anwendung handelt es sich um ein Tippspiel für Fussballturniere. Das Ziel ist es die Resultate bestmöglich vorauszusagen und dadurch möglichst viele Punkte zu erhalten. Weitere Informationen befinden sich unten. Viel Spass!</p>
        <h2>
            Anleitung
        </h2>
        <p>Auf der Seite "Tipps abgeben" können die Tipps eingetragen werden. Danach werden diese mit dem "Speichern"-Button gespeichert. Auf der Seite "Rangliste" befindet sich eine Übersicht über den Zwischenstand. Ebenfalls wird angezeigt, wie viele Punkte für den jeweiligen Nutzer zum Schluss des Turniers prophezeit sind. </p>
        <h2>
            Punktevergabe
        </h2>
        <p>Die Punktevergabe setzt sich wiefolgt zusammen:</p>
        <p>Nutzer tippt auf richtigen Sieger oder auf Unentschieden = 5 Punkte</p>
        <p>Nutzer tippt auf die richtige Tordifferenz = 3 Punkte</p>
        <p>Nutzer tippt auf die richtige Anzahl Heimtore = 1 Punkt</p>
        <p>Nutzer tippt auf die richtige Anzahl Auswärtstore = 1 Punkt</p>
        <p>Insgesamt können somit 10 Punkte pro Spiel verdient werden. Viel Erfolg beim Tippen!</p>
    </div>
</body>

{% include "footer.jinja" %}