{% include "header.jinja" %}

<body style="margin:50;padding:0">
    <div style="margin-top:50px;margin-left:20px;margin-right:20px;line-height:24px">
        <h1>Fussball Tippspiel 4 friends</h1>
            <h2>
                Projektidee
            </h2>
            <p>Diese Anwendung soll es Nutzern ermöglichen, Tipps auf die Ergebnisse der Fußball-Weltmeisterschaft abzugeben und gegen Freunde zu tippen. Dabei ist kein Login möglich. Es kann lediglich der Vor- und Nachname sowie all die Resultattipps eingegeben werden. Anschliessend werden die Tipps des Nutzers mit dem effektiven Endstand des Spiels verglichen und es erfolgt eine Punktevergabe. In der Rangliste ist die Einsicht des Namens, der Gesamtpunkte jedes Spielers und der Wahrscheinlichkeit, dass der Spieler das Tippturnier gewinnt, dargestellt.</p>
    </div>
</body>

{% include "footer.jinja" %}